---
import { getPicture } from '@astrojs/image';
import '../../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
    author?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
    title,
    description,
    image = 'https://res.cloudinary.com/reinforcedai/image/upload/v1673520614/eneotu.com/eneotu_share_image_77c7c37e2a.png',
    author,
    } = Astro.props;



// const { src } = await getPicture({src: '/eneotu-joe.png', width:300});

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title} | Eneotu</title>
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<meta name="description" content={description} />
<meta name='keywords' content='Artificial intelligence, AI, machine learning, reinforcement learning, data science, eneotu joe, eneotu' />
<meta name='author' content={author} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- link -->
<!-- <link rel="preload" as="image" href={src} alt="alt text"> -->

<!-- script -->
<script async defer data-website-id="2c38409d-821c-4cf3-a5e8-9ee3921f4da2" src="https://analytics-admin.netlify.app/umami.js"></script>
