---
import { Picture } from "@astrojs/image/components";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image.url}
  author={frontmatter.author}
>
  <div class="container mx-auto my-5 prose prose-lg prose-headings:m-0 prose-ul:m-0 prose-li:m-0">
    <div class="grid md:grid-cols-2 grid-cols-1">
      <div class="mx-3">
        <h2>{frontmatter.title}</h2>
        <time>{frontmatter.pubDate.slice(0, 15)}</time>
        <p>{frontmatter.minutesRead}</p>
      </div>
      <Picture src={frontmatter.image.url} alt={frontmatter.image.alt} widths={[400, 800, 1200]}  aspectRatio="16:9" />
    </div>

    <article class="grid grid-cols-1 mx-3 text-justify">
      <slot />
      <p>Written by: {frontmatter.author}</p>
    </article>
  </div>
</BaseLayout>
